/*
Syntax error: Inconsistent indentation: 7 spaces were used for indentation, but the rest of the document was indented using 2 spaces.
        on line 204 of style.sass

199: 
200:       #descript
201:         float: left
202:         width: 50%
203: 
204:        img
205:          padding: 18px
206:          float: left
207: 
208:        h1
209:         float: left

Backtrace:
style.sass:204
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:282:in `tabulate'
/usr/lib/ruby/1.8/fileutils.rb:243:in `each_with_index'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:240:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:240:in `each_with_index'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:240:in `tabulate'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:216:in `_to_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:178:in `to_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/files.rb:44:in `tree_for'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:223:in `update_stylesheet'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:75:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:73:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:73:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:195:in `watch'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:71:in `call'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:34:in `update'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/file.rb:19:in `refresh'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm.rb:17:in `monitor'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:167:in `watch'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/haml/exec.rb:457:in `watch_or_update'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/haml/exec.rb:360:in `process_result'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/haml/exec.rb:41:in `parse'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/haml/exec.rb:21:in `parse!'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: 7 spaces were used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 204 of style.sass\A \A 199: \A 200:       #descript\A 201:         float: left\A 202:         width: 50%\A 203: \A 204:        img\A 205:          padding: 18px\A 206:          float: left\A 207: \A 208:        h1\A 209:         float: left"; }
