/*
Syntax error: Rules can't end in commas.
        on line 248 of style.sass

243:             padding: 5px
244:   
245:             a
246:               &:link,
247:               &:visited,
248:               &:active,
249:                 display: block
250:                 color: #E3E3E3
251:                 text-decoration: none
252:   
253:             a:hover

Backtrace:
style.sass:248
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:351:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:337:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:347:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:337:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:347:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:337:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:347:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:337:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:347:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:337:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:347:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:337:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:347:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:337:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:330:in `build_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:347:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:346:in `append_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:216:in `_to_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:178:in `to_tree'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/files.rb:44:in `tree_for'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:223:in `update_stylesheet'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:75:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:73:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:73:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:195:in `watch'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:71:in `call'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:34:in `update'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/file.rb:19:in `refresh'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm.rb:17:in `monitor'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:167:in `watch'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/haml/exec.rb:457:in `watch_or_update'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/haml/exec.rb:360:in `process_result'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/haml/exec.rb:41:in `parse'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/haml/exec.rb:21:in `parse!'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Rules can't end in commas.\A         on line 248 of style.sass\A \A 243:             padding: 5px\A 244:   \A 245:             a\A 246:               &:link,\A 247:               &:visited,\A 248:               &:active,\A 249:                 display: block\A 250:                 color: #E3E3E3\A 251:                 text-decoration: none\A 252:   \A 253:             a:hover"; }
