$bg: #FFC20F url(../images/extravaganza_bg.jpg);

@mixin boxshadow($color, $x, $y, $blur) {
  -webkit-box-shadow: $color $x $y $blur;
  -moz-box-shadow: $color $x $y $blur;
  box-shadow: $color $x $y $blur;
}

@mixin textshadow($color, $x, $y, $blur) {
  -webkit-text-shadow: $color $x $y $blur;
  -moz-text-shadow: $color $x $y $blur;
  text-shadow: $color $x $y $blur;
}

.deck-container {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 1.2em;
	background: $bg; 
  width: auto;
  max-width: 1024px;
  margin: 16px auto 18px auto;
  height: 600px;
	
	.slide {
		
		h1 {
   		color:#F8F7E5;
      @include textshadow(5px, 5px, 0, #444);
      -webkit-mask-image: url(../images/mask_img.png);
      font: 800 5em/1.231em futura-pt, sans-serif;
      text-transform: uppercase;
		}

		h2 {
      border-bottom: 2px solid #F8F7E5;
      color:#F8F7E5;
      @include textshadow(5px, 5px, 0, #444);
      -webkit-mask-image: url(../images/mask_img.png);
      font: 800 2.5em/1.231em futura-pt, sans-serif;
      text-transform: uppercase;
		}

		h3 {
      -webkit-mask-image: url(../images/mask_img.png);
      font: 800 2.5em/1.231em futura-pt, sans-serif;
      text-transform: uppercase;
			color:#444;
      clear: left;
		}

		pre {
			border-color:#ccc;
		}

		code {
			color:#888;
		}

		blockquote {
			font-size:2em;
			font-style:italic;
			padding:1em 2em;
			color:#000;
			border-left:5px solid #ccc;

			p {
				margin:0;
			}

			cite {
				font-size:.5em;
				font-style:normal;
				font-weight:bold;
				color:#888;
			}
		}

    img { 
      float: left; 
      margin: 0 0 8% 3.5%; 
      position: relative; 
      z-index: 1000; 
    }

    ul {
      clear: left;
    }

		::-moz-selection{ background:#c00; color:#fff; }
		::selection { background:#c00; color:#fff; }

		a {
			&, &:hover, &:focus, &:active, &:visited {
				color: #444;
				text-decoration: underline;
			}

			&:hover, &:focus {
				text-decoration:underline;
			}
		}

    .description {
      float: left;
      width: 40%;
      margin: 2% 0 0 5%;
    }
	}
	
	.deck-prev-link, .deck-next-link {
		background:#ccc;
		font-family:serif; // sans-serif arrows x-browser fail
		
		&, &:hover, &:focus, &:active, &:visited {
			color:#fff;
		}
		
		&:hover, &:focus {
			background:#c00;
			text-decoration:none;
		}
	}
	
	.deck-status {
		font-size:0.6666em;
	}
	
	&.deck-menu {
		.slide {
			background:#eee;
		}
		
		.deck-current, .no-touch & .slide:hover {
			background:#ddf;
		}
	}

  .title{
    .subtitle {
      font: 400 2.5em/1.231em learning-curve, serif;
      text-align: center;
      margin: 5% 0; 
    }
    h1 {
      position: static;
      padding: 0;
      margin: 0 0 10%;
      -webkit-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -o-transform: translate(0,0);
      -ms-transform: translate(0,0);
      transform: translate(0,0);
    }
    .instructions {
      font: 400 1.2em/1.231em Helvetica, sans-serif;
      text-align: center;
      color: #444;
    }
  }

  .link { position: absolute; top: 1.4em; right: 0; }

  .scratchTitle {
    h3 { text-align: center; }
  }
  p { 
      font-size: 1.4em;
      line-height: 1.4em;
    }
  .vmlive {
    img {
      margin: 0 0 8% 1%;
    }
  }
  .lig {
    img {
      margin-left: 8%;
      margin-top: 8%;
    }
    .last {
      margin-top: 0;
    }
  }
  .thanks {
      font: 400 2.5em/1.231em learning-curve, serif;
      text-align: center;
      -webkit-transform: rotate(-7deg);
      -moz-transform: rotate(-7deg);
      -o-transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
      transform: rotate(-7deg);
  }
}
