<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="Tyler Cipriani">

  <meta name="viewport" content="width=device-width; initial-scale=1.0;"/>

  <link rel="stylesheet" href="/css/style.css">

  <!--[if IE]>
  <script type="text/javascript">
  (function(){if(!/*@cc_on!@*/0)return;var e = "abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=0,length=e.length;while(i<length){document.createElement(e[i++])}})();
  </script>
  <![endif]--> 

</head>

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

  <div id="container">

    <header>

      <img src="http://a3.twimg.com/profile_images/29254162/beggscartoon_bigger.jpg" alt="C'est Moi">

      <nav>

        <ul>
          <li><a href="http://thcipriani.github.com">Home</a></li>
          <li><a href="http://twitter.com/thcipriani">Twitter</a></li>
          <li><a href="http://www.customchannels.net/">Where I work</a></li>
        </ul>

      </nav>

    </header>
    
    <div id="main">
  
    {{ content }}  
  
    </div>
    
    <footer>
      
    </footer>

  </div> <!--! end of #container -->


  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="js/jquery-1.5.2.min.js"><\/script>')</script>

  <script type="text/javascript">

    

  </script>

  
  <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
       change the UA-XXXXX-X to be your site's ID 
  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>-->
  
</body>
</html>
